﻿@model CommunityLeagues.Models.TeamViewModel

@{
    ViewBag.Title = "Team center";
}

<h2>Team center - @Model.Team.Name</h2>
<dd>
    Tag : @Model.Team.Tag
</dd>
<dd>
    Score : @Model.Team.Score
</dd>
<dd>
    Number of players : @Model.TeamPlayers.Count()
</dd>

<h3 style="margin-top:50px;">Players of team:</h3>
<dd>
    @foreach (var item in Model.TeamPlayers)
    {
        <ul>
            @if (item.Player == Model.UserAsTeamPlayer.Player)
            {
                <li><b>@item.Player.Name as @item.TeamRole.ToString()</b></li>
            }
            else
            {
                <li>@item.Player.Name as @item.TeamRole.ToString()</li>
            }
        </ul>
    }
</dd>

@if (Model.FreePlayers.Count() > 0)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4  style="margin-top: 100px">Free Players</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.HiddenFor(Model => Model.Team.TeamId)
                <div>
                    @Html.DropDownListFor(m => m.NewPlayer.PlayerId, new SelectList(Model.FreePlayers, "PlayerId", "Name", Model.FreePlayers.First().PlayerId))
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Member" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}
else
{
    <p style="margin-top:50px">There is no available players you can add to this team.</p>
}
