﻿@model CommunityLeagues.Models.HomeViewModel

@{
    ViewBag.Title = "Community Leagues";
}

<div class="row" style="margin-top: 50px">
    <div class="col-md-4">
        <h2>List of games:</h2>
        <ul style="min-height: 200px">
            @foreach (var game in Model.Games)
            {
                <li>
                    @game.Name
                </li>
            }
        </ul>

    </div>
    <div class="col-md-4">
        <h2>Players:</h2>
        <ul style="min-height: 200px">
            @foreach (var player in Model.Players)
            {
                <li>
                    @player.Name
                </li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Teams:</h2>
        <ul style="min-height: 200px">
            @foreach (var team in Model.Teams)
            {
                <li>
                    @team.Name
                </li>
            }
        </ul>
    </div>
</div>


<div class="row" style="margin-top: 50px">
    <div class="col-md-4">
        <p>
            We don't support more games yet. <br />
            Check us in the future!
        </p>
    </div>
    <div class="col-md-4">
        <p>
            Invite more players to our site!
        </p>
    </div>
    <div class="col-md-4">
        <p>
            Create or join to any team!

        </p>
    </div>
</div>


<p style="margin-top: 50px">
    Prepare your team and soon you will be able to play matches in our first tournament : @Html.ActionLink("Click", "Index", "Tournament" , new { id = 1 }, null)
</p>
<p>
    Currently you are available to do :
    <ul>
        <li>
            Register your account
        </li>
        <li>
            Register your first player to available game.
        </li>
        <li>
            Create a new team and invite others to your team.
        </li>
        <li>
            Ask any leader to add you to his team.
        </li>
        <li>
            As leader you can add your team to new tournament!
        </li>
        <li>
            Be part of our community and wait for more!
        </li>
    </ul>
</p>
