﻿@model CommunityLeagues.Models.TournamentViewModel


@{
    ViewBag.Title = "Tournament";
}

<h2>Tournament: @Model.Name</h2>

<dd>
    Award for winner: <b>@Model.Award.ToString("N")</b> points
</dd>
<dd>
    It starts on @Model.dateStart
</dd>
@if (Model.Teams.Count() > 0)
{
    <h3 style="margin-top:50px">
        @Model.Teams.Count() teams are sign up:
    </h3>
    <ul>
        @foreach (var team in Model.Teams)
        {
            <li>
                @team.Name
            </li>
        }
    </ul>

}
else
{
    <dd>
        No teams sign up yet, be first!
    </dd>
}
<dd>
    @Html.ActionLink("SignUp", "SignUp", "Tournament", new { id = Model.TournamentId }, null)

</dd>

