﻿@model CommunityLeagues.Models.SignUpViewModel

@{
    ViewBag.Title = "SignUp";
}

@if (!Model.EnoughRoleOfPlayer)
{
    <p>
        Sorry but you have to be a leader to sign up team.
    </p>
}
else if (Model.TeamIsAlreadySignUp)
{
    <p>
        Your team is already sign up!
    </p>
}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.Team.TeamId)
        @Html.HiddenFor(Model => Model.Tournament.TournamentId)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sign up" class="btn btn-default" />
            </div>
        </div>
    }

    @*@Html.ActionLink("Sign up your team now!", "SignUp")*@
}


